


    <% @t1topics.each do |t1topic| %>
    <div class="row">
                <%= link_to t1topic.title, myasset_t1topic_path(t1topic), :class => "btn btn-primary text-center t1-topic", :data => {:trackevent => "select t1 topic"} %>
    </div>
    <br>
    
    <% end %>

