<% top3topics = @t1topics[0, 2] %>
<div class="row">
    <% top3topics.each do |t1topic| %>
        <% if t1topic == @t1topic %>
            <%= link_to t1topic.title, openbattle_path(t1topic), :class => "btn btn-primary text-center t1-topic", :data => {:trackevent => "select t1 topic"} %>
        <% else %>
            <%= link_to t1topic.title, openbattle_path(t1topic), :class => "btn btn-primary text-center t1-topic-deselect", :data => {:trackevent => "select t1 topic"} %>
        <% end %>
    <% end %>
</div>