<div class="row">
  <h3 class="text-center">关于斗斗 </h3>  
</div>
<div class="row">
  <h4 class="text-center"> 吃饭、睡觉、打斗斗。60秒内，用视频表达你自己！不服来战！
</div>
<div class="row">
  <div class="text-center">
  <%= link_to '返回首页', root_path %>


  <a href="#" data-trackevent="about">Paint it red</a>
  </div>
</div>