<div class="abouthead">
<h2> 关于斗斗 </h2>
</div>
<br>
<div class="abouttext" class="col-md-6">
<p> 在这里，你可以使用斗斗发起视频对战，和其他人PK。欢迎您投票支持自己喜欢的视频，当然，也欢迎评论围观！
  </p>
</div>
<div class="text-center" style="margin-bottom:-90px;">
<%= link_to '返回首页', root_path, :style => "color: black"%>
</div>
