<div class="col-md-8 col-md-offset-2 about-page" style="margin-top: 60px;">
  <h3 class="text-center">关于斗斗 </h3>
  <hr>
  <br>
  <div class="abouttext" class="col-md-6">
  <p> 吃饭、睡觉、打斗斗。60秒内，用视频表达你自己！不服来战！
    </p>
  </div>
  <div class="text-center" style="margin-bottom:-90px;">
  <%= link_to '返回首页', root_path %>
  </div>
</div>
