<div class="col-md-8 col-md-offset-2 about-page" style="margin-top: 50px;">
  <h3>Hello，感谢您使用斗斗</h3>
  <hr>
  <h4>欢迎戳我们的微信个人号，老铁！</h4>

  <p>
  微信号：13641280128<br>
  </p>
  <div >
    <img src="<%= image_url 'webwxgetmsgimg.jpeg' %>" alt="heart" class="img-thumbnail">
  </div>
  <br>
  <%= link_to("返回首页", root_path) %>
</div>
