<div class="row" style="margin-top: 50px; margin-left: 5px">
  <h5>我们一直都在</h5>
  <h4>QQ号：3061876908</h4>
</div>
<div class = "row" style="margin-left: 5px">
  <%= link_to("返回首页", root_path) %>  
</div>
