<div class="col-md-8 col-md-offset-2 about-page" style="margin-top: 100px;">
  <h3>Hello，感谢您使用斗斗</h3>
  <hr>
  <h4>欢迎戳我们的微信公众号，让我们更好得为您服务</h4>

  <p>
  微信号：13641280128<br>
  </p>
  <div >
    <img src="<%= image_url 'webwxgetmsgimg.jpeg' %>" alt="heart" class="img-thhumbnail">
  </div>
<br>
  <%= link_to("返回首页", root_path) %>
</div>
