<!-- <div class="container"> -->



<% if @battles.present? %>
  <% @battles.each do |battle| %>
  <%= render :partial => "singlebattle", locals: {battle: battle}%>
<% end %>

<div class="text-center">
  <%#= will_paginate @battles, :previous_label => t("上一页"), :next_label => t("下一页") %>
</div>
<% else %>
<div class="row">
    <div class="col-xs-12" style="width: 100%">
        <div class="panel1">
            <h2 style="margin-left: 10px; color: #999;">PK赛尚未开始，敬请期待！</h2>
        </div>
    </div>
</div>
<% end %>
<%= render "common/footer" %>
