/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  position: relative;
  min-height: 100%;
  margin-top: 50px;
  margin-bottom: 60px; //和footer的高度一样
  //padding-bottom: 15px;
}
/* Title */
.navbar {
  margin-bottom: 0px;
  background-color: #e02622;
  border-color: #E7E7E7;

  //border-radius: 0px;
  //margin-left: -15px;
  //margin-right: -15px;
}
.navbar .navbar-brand{
  color: #ffffff;
}
.nav.navbar-nav.navbar-right > li > a {
    color: #ffffff;
}
.nav.navbar-nav.navbar-right > li > a:hover,
.nav.navbar-nav.navbar-right > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.nav.navbar-nav.navbar-right > .active > a,
.nav.navbar-nav.navbar-right > .active > a:hover,
.nav.navbar-nav.navbar-right > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.nav.navbar-nav.navbar-right > .open > a,
.nav.navbar-nav.navbar-right > .open > a:focus,
.nav.navbar-nav.navbar-right > .open > a:hover {
  color: #212121;
  background-color: transparent;
}

// .navbar-inverse {
//   border-color: #fff;
// }

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.user-name {
  float: left;
  padding-top: 17px;
  font-size: 16px;
  padding-left: 5px;

}

.fa-2x {
  padding-left: 10px;
  padding-top: 10px;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.word {
  font-size: 60px;
}
.word_light {
  font-size: 30px;
}

.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
  font-size: 16px;
  padding-bottom: 15px;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color: #f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.panel1 h4, .new-battle h4, .new-video h4, .edit-battle h4 {
  margin-top: 20px;
  color: rgba(0, 0, 0, 1);
}

.myasset-battle-title a {
  color: rgba(0, 0, 0, 1);
  padding: 5px;
}

hr {
  margin-bottom: 1em;
  width: 100%;
  background-color: #ef8974;
}


.vote_left {
  //background: blue;
  //background: #bfdbb8;
  background: #79e8d0;
  // padding: 1.2em 1.5em;
  border: none;
  //font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
  width:100px;
  height:40px;
  font-size: 18px;
}

.vote_left:hover {
    background: #c5ecf9;
    color: #fff; }

.vote_right {
      //background: red;
      //background: #f29f3f;
      background: #ff7073;
      // padding: 1.2em 1.5em;
      border: none;
      //font-weight: bold;
      color: #fff;
      -webkit-transition: background .3s ease;
              transition: background .3s ease;
    width:100px;
    height:40px;
    font-size: 18px;
    }

.vote_right:hover {
        background: #b71919;
        color: #fff; }



.challenge {
  //background: blue;
  //background: #bfdbb8;
  background-color: #135392;
  // padding: 1.2em 1.5em;
  border: none;
  //font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
  width: 100%;
  height: 40px;
  font-size: 20px;
}

.btn-challenge{
  width: 100%;  
}
.challenge:hover {
    background: #c5ecf9;
    color: #fff; }

.challenge_left {
  //background: blue;
  //background: #bfdbb8;
  background: #e02622;
  // padding: 1.2em 1.5em;
  border: none;
  //font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
  width: 100%;
  height: 40px;
  font-size: 18px;
}

.challenge_left:hover {
    background: #c5ecf9;
    color: #fff; }

.challenge_right {
      //background: red;
      //background: #f29f3f;
      background: #e02622;
      // padding: 1.2em 1.5em;
      border: none;
      //font-weight: bold;
      color: #fff;
      -webkit-transition: background .3s ease;
              transition: background .3s ease;
  width: 100%;
  height: 40px;
    font-size: 18px;
    }

.challenge_right:hover {
        background: #b71919;
        color: #fff; 
}
.button-footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
/*  background-color: #fafafa; */
  width: 100%;
  height: 60px;
  padding-top: 5px;
  border-top: 1px solid #D3D3D3;

  /* Set the fixed height of the footer here */
}
.video_container{
  padding-left: 1px;
  padding-right: 1px;
}
.battle_video_vote_comment{
  padding-left: 1px;
  padding-right: 1px;
}
/*
video {
  height: 240px !important;
}
*/
.form-inputs, .form-actions {
  margin-left: 10px;
  margin-right: 10px;
}

.login-menu {
  display: inline-block;
}

.comments-title {
  border-bottom: 1px solid #fff;
}

.comments {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fafafa;
  border-bottom: 1px solid #D3D3D3;
}

.form-control {
  border-radius: 0;
}

textarea{
  width:100%;
  height:100px;
  padding:10px;
  border:1px solid #eee;
  resize:none;
}

.comment-list {
  margin-bottom: 0px;
}

.users-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination {
  margin-bottom: 30px;
  em, a {
    margin: 10px;
  }
}
.fa-arrow-right{
   color:#135392;
}
.fa-arrow-left{
   color:#135392;
}
.fa-weixin{
   color:green;
}
.t1-topic{
  border: none;
  color:white;
  width:30%;
}
.t1-topic-deselect{
  border: none;
  color:blue;
  background: white;
  width:30%;
}

.t2-topic{
  border: none;
  width:100%;
}

.video_preview{
     height: 250px;
     width: 250px;
}

.space-line{
  width: 110%;
  height: 5px;
  background-color: #eee;
  padding: 0px;
}