/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  position: relative;
  min-height: 100%;
  margin-top: 50px;
  margin-bottom: 100px; //和footer的高度一样
}

.navbar {
  margin-bottom: 0px;
  background-color: #f9f9f9;
  // border-color: #e7e7e7;
  border-radius: 0px;
  //margin-left: -15px;
  //margin-right: -15px;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.user-name {
  float: left;
  padding-top: 17px;
  font-size: 16px;
  padding-left: 5px;

}

.fa-2x {
  padding-left: 10px;
  padding-top: 10px;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.word {
  font-size: 60px;
}
.word_light {
  font-size: 30px;
}

.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
  font-size: 24px;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.vote_left {
  background: blue;
  // padding: 1.2em 1.5em;
  border: none;
  //font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
  width:100px;
  height:40px;
  font-size: 18px;
}

.vote_left:hover {
    background: #2d3fc6;
    color: #fff; }

.vote_right {
      background: red;
      // padding: 1.2em 1.5em;
      border: none;
      //font-weight: bold;
      color: #fff;
      -webkit-transition: background .3s ease;
              transition: background .3s ease;
    width:100px;
    height:40px;
    font-size: 18px;
    }

.vote_right:hover {
        background: #b71919;
        color: #fff; }

.page-footer {
  position: fixed;
  bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #D3D3D3;
  background-color: #f9f9f9;
  width: 100%;
  height: 100px;
}
