// Place all the styles related to the battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-panel .lists {
  margin-top: 20px;
}
.vote_star_button{
    margin-top: 5px;
}
.vote_star_right{
    text-align:right;
}