 <footer class="container page-footer">
     <div class="row">
       <div class="col-xs-6 text-center">
         <%= link_to("上传视频", new_myasset_video_path) %>
       </div>
       <div class="col-xs-6 text-center">
         <%= link_to("发起PK", new_myasset_battle_path) %>
       </div>
     </div>
 </footer>
