<footer class="container page-footer">
    <p class="text-center">Copyright ©2017 Video PK
        <br> All Rights Reserved.
        <a href="https://github.com/jiezhon/videopk" target=_new>Github</a>
    </p>
</footer>
