<% battle = local_assigns[:battle] %>
<% leftvideoautoplay = local_assigns[:leftvideoautoplay]%>
  <% needautoplayleftvideo = (leftvideoautoplay == true) %>
  <div class="row ">
    <div class="col-sm-6 col-xs-6">
     <% if needautoplayleftvideo %>
     		<%= render :partial => "common/video_player", locals: {video: battle.left_video, autoplay: true}%>
     <% else %>
     		<%= render :partial => "common/video_player", locals: {video: battle.left_video}%>
     <% end %>
    </div>
    <div class="col-sm-6 col-xs-6">
     		<%= render :partial => "common/video_player", locals: {video: battle.right_video}%>
    </div>
  </div>