  <% battle = local_assigns[:battle] %>

    <%= render :partial => "common/votebar_battle", locals: {battle: battle}%>
      <div class="row">
           <% if left_is_voted(battle) %>
              <div class="col-sm-12 col-xs-12 text-center">
                <%= link_to("挑战右边", myasset_video_challenge_url(right_video), :class => "btn btn-default challenge_right") %>
              </div>
           <% elsif right_is_voted(battle) %>
              <div class="col-sm-12 col-xs-12 text-center">
                <%= link_to("挑战左边", myasset_video_challenge_url(left_video), :class => "btn btn-default challenge_left") %>
              </div>  
           <% end %>
      </div>